<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gio hang</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <style>
        
    </style>
</head>
<body class="flex flex-col justify-center items-center bg-[#f1f2f6] overflow-x-hidden">
    <div class="navb flex flex-row h-[80px] w-[100vw] justify-between mb-[50px] bg-[#01ac50] text-white shadow-[0_5px_15px_rgba(0,0,0,0.35)]">
        <div class="infor-shop h-[80px] w-fit flex flex-row justify-center items-center ml-2">
            <img class="w-[50px] h-[50px] rounded-[999px] ml-[20px]" src="/img/tienhungw.jpg" alt="">
            <h2 class="text-[30px] font-medium ml-[10px] mt-[10px] font-['Kaushan_Script']">TH Shop</h2>
        </div>

        <div class="relative h-[80px] w-[50vw] absolute right-[20px]">
            <div class="flex flex-row h-[40px] bg-white w-[400px] absolute right-[20px] rounded-3xl justify-between mt-1">
                <input class="outline-none text-gray-600 pl-4" type="text" placeholder="Tìm kiếm sản phẩm">
                <box-icon class="mr-3 mt-2 cursor-pointer" name='search' flip='horizontal' color='rgba(0,0,0,0.8)' ></box-icon>
            </div>
            <div class="flex flex-row absolute gap-[30px] right-[20px] bottom-[6px] text-lg font-normal">
                <a id="gotoPage1" class="cursor-pointer" href="/user/home">Trang chủ</a>
                <a id="gotoPage2" class="cursor-pointer underline" style="text-underline-offset: 4px; text-decoration-thickness: 2px;" href="/user/cart">Giỏ hàng</a>
                <a id="gotoPage3" class="cursor-pointer" href="/user/history">Lịch sử</a>
                <a id="gotoPage4" class="cursor-pointer" href="/user/about">Thông tin</a>
                <a id="gotoPage5" class="cursor-pointer" href="/logout">Đăng xuất</a>
            </div>
        </div>
    </div>

    <div class="w-[900px] h-fit relative">
        <p class="text-3xl font-normal text-[#127332] mb-6">GIỎ HÀNG</p>
        <p class="text-[27px] font-normal mb-10">Các sản phẩm bạn đã thêm</p>
        <div>
            <table class="min-w-full border border-white table-fixed border-collapse">
                <thead>
                    <tr class="bg-[#0EBC50]">
                        <th class="border border-white w-[80px] h-[40px] text-white text-lg font-medium">Tên sản phẩm</th>
                        <th class="border border-white w-[80px] h-[40px] text-white text-lg font-medium">Hình ảnh</th>
                        <th class="border border-white w-[50px] h-[40px] text-white text-lg font-medium">Giá</th>
                        <th class="border border-white w-[30px] h-[40px] text-white text-lg font-medium">Số lượng</th>
                        <th class="border border-white w-[50px] h-[40px] text-white text-lg font-medium">Gỡ khỏi giỏ</th>
                    </tr>
                </thead>
                <tbody class="bg-[#dfe4ea] justify-center items-center">
                    <tr th:each="cartproduct : ${cartItems}">
                        <td class="border border-white w-[250px] p-2 overflow-hidden text-ellipsis whitespace-normal text-center justify-center items-center" th:text="${cartproduct.product.name}"></td>
                        <td class="border border-white w-[250px] p-2 overflow-hidden text-ellipsis whitespace-normal text-center justify-center items-center" >
                            <img class="ml-[30%]" th:src="@{${cartproduct.product.imageUrl}}" width="80px">
                        </td>
                        <td class="border border-white w-[150px] p-2 text-center justify-center items-center" th:text="${cartproduct.product.price}">900000</td>
                        <td class="border border-white w-[90px] p-2 text-center justify-center items-center">
                            <div class="mt-6 text-center justify-center items-center">
                                <form th:action="@{/user/cart/update}" method="post">
                                    <input type="hidden" name="cartItemId" th:value="${cartproduct.id}" />
                                    <div class="form">
                                        <input type="number" name="quantity" class="quantity-input w-[100px]" th:value="${cartproduct.quantity}" min="1" />
                                        <button class="btn-save" type="submit">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td class="border border-white w-[150px] p-2 text-center">
<!--                            <button class="w-[90px] h-[30px] text-white font-medium bg-yellow-500 rounded-lg cursor-pointer">Gỡ</button>-->
                            <form th:action="@{'/user/cart/delete/'+${cartproduct.id}}" method="get" onsubmit="return confirm('Bạn có chắc muốn xóa sản phẩm này không?')" style="display: inline;">
                                <button class="w-[90px] h-[30px] text-white font-medium bg-yellow-500 rounded-lg cursor-pointer" type="submit">Gỡ</button>
                            </form>
                        </td>
                    </tr>
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[250px] p-2 overflow-hidden text-ellipsis whitespace-normal">Camera giám sát 360 độ kết nối wifi </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[150px] p-2 text-center justify-center items-center">500000</td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[90px] p-2 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input class="w-[100px] h-[30px] outline-none border p-2" type="number" placeholder="">&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[150px] p-2 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button class="w-[90px] h-[30px] text-white font-medium bg-yellow-500 rounded-lg cursor-pointer">Gỡ</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[250px] p-2 overflow-hidden text-ellipsis whitespace-normal">Ống kính máy ảnh Canon đa chức năng</td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[150px] p-2 text-center justify-center items-center">200000</td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[90px] p-2 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input class="w-[100px] h-[30px] outline-none border p-2" type="number" placeholder="">&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[150px] p-2 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button class="w-[90px] h-[30px] text-white font-medium bg-yellow-500 rounded-lg cursor-pointer">Gỡ</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[250px] p-2 overflow-hidden text-ellipsis whitespace-normal">Máy ảnh KC trắng cam có tích hợp đèn</td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[150px] p-2 text-center justify-center items-center">900000</td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[90px] p-2 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input class="w-[100px] h-[30px] outline-none border p-2" type="number" placeholder="">&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[150px] p-2 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button class="w-[90px] h-[30px] text-white font-medium bg-yellow-500 rounded-lg cursor-pointer">Gỡ</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[250px] p-2 overflow-hidden text-ellipsis whitespace-normal">Camera giám sát 360 độ kết nối wifi </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[150px] p-2 text-center justify-center items-center">500000</td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[90px] p-2 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input class="w-[100px] h-[30px] outline-none border p-2" type="number" placeholder="">&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[150px] p-2 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button class="w-[90px] h-[30px] text-white font-medium bg-yellow-500 rounded-lg cursor-pointer">Gỡ</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[250px] p-2 overflow-hidden text-ellipsis whitespace-normal">Ống kính máy ảnh Canon đa chức năng</td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[150px] p-2 text-center justify-center items-center">200000</td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[90px] p-2 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input class="w-[100px] h-[30px] outline-none border p-2" type="number" placeholder="">&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="border border-white w-[150px] p-2 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button class="w-[90px] h-[30px] text-white font-medium bg-yellow-500 rounded-lg cursor-pointer">Gỡ</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
                </tbody>
            </table>
            <div class="text-lg font-medium mt-2">
                Tổng giá trị đơn hàng:
                <span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')} + ' VND'">0 VND</span>
            </div>
        </div>
        <p class="text-xl font-medium mt-8" th:value="${totalPrice}"></p>
        <form th:action="@{/user/order}" method="get">
            <button class="bg-[#01ac50] w-[250px] h-[50px] text-lg font-medium rounded-lg mt-10 text-white absolute left-[50%] -translate-x-[50%] cursor-pointer" id="dathang" type="submit">TIẾN HÀNH ĐẶT HÀNG</button>
        </form>

    </div>

    <div class="w-[100vw] mt-[200px] mb-5 ml-1 flex-col text-center mb-10">
        <div class="text-lg font-medium text-gray-600 text-center mb-2">
            © 2025 Bản quyền thuộc về TH Shop
        </div>
        <div class="text-lg font-normal text-gray-600 text-center">
            Cảm ơn quý khách đã tin tưởng và ủng hộ cửa hàng!
        </div>
        <div class="text-lg font-normal text-gray-600 text-center mb-3">
            Thông tin liên hệ
        </div>
        <div class="flex flex-row text-center absolute left-[50%] -translate-x-[50%]">
            <div class="flex flex-row">
                <box-icon name='facebook-circle' type='logo' color='rgba(0,0,0,0.70)' ></box-icon>
                <a target="_blank" class="mr-8 w-[150px] text-gray-700 hover:text-[#009432]" href="https://www.facebook.com/holahuliba">Nguyễn Tiến Hưng</a>
            </div>

            <div class="flex flex-row">
                <box-icon name='phone' type='solid' color='rgba(0,0,0,0.70)' ></box-icon>
                <p class="mr-8 w-[100px] text-gray-700 hover:text-[#009432]">0327644604</p>
            </div>

            <div class="flex flex-row">
                <box-icon name='envelope' color='rgba(0,0,0,0.70)' ></box-icon>
                <a target="_blank" class="mr-8 w-[280px] text-gray-700 hover:text-[#009432]" href="https://mail.google.com/mail/u/0/?pli=1#inbox">nguyentienhung04042004gmail.com</a>
            </div>

            <div class="flex flex-row">
                <box-icon name='instagram' type='logo' color='rgba(0,0,0,0.70)' ></box-icon>
                <a target="_blank" class="w-[150px] text-gray-700 hover:text-[#009432]" href="https://www.instagram.com/holahuliba/">Nguyễn Tiến Hưng</a>
            </div>
        </div>
    </div>

    <script>
<!--        document.getElementById("gotoPage1").addEventListener("click", function() {-->
<!--            window.location.href = "trangchu.html";-->
<!--        });-->
<!--        document.getElementById("gotoPage2").addEventListener("click", function() {-->
<!--            window.location.href = "giohang.html";-->
<!--        });-->
<!--        document.getElementById("gotoPage3").addEventListener("click", function() {-->
<!--            window.location.href = "lichsu.html";-->
<!--        });-->
<!--        document.getElementById("gotoPage4").addEventListener("click", function() {-->
<!--            window.location.href = "thongtin.html";-->
<!--        });-->
<!--        document.getElementById("dathang").addEventListener("click", function() {-->
<!--            window.location.href = "dathang.html";-->
<!--        });-->
    </script>
<div th:replace="~{fragments/chatbox :: chatbox}"></div>
</body>
</html>